.table-container {
  max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.tabla-container {
  display: flex;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 20px;
  margin-left: 20px;
}

h4 {
  margin-top: 20px;
  text-align: center;
}

a, a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

tr, th, td {
  border-bottom: 1px solid #000000;
  text-align: center;
}
:root {
  --text-dark: #000;
  --text-light: #fbf2f2;
  --text-muted: #595959;

  --background-color: #fff;
  --accent-colour: #f56565;
  --accent-colour-2: #3bb54a;
  --tag-colour: #e5e5e5;

  --border: 3px solid #000;
}

:root.dark-mode {
  --text-dark: #fbf2f2;
  --text-light: #000;
  --text-muted: #595959;

  --background-color: #1c2023;
  --accent-colour: #f56565;
  --accent-colour-2: #3bb54a;
  --tag-colour: var(--accent-colour-2);

  --border: 3px solid #fff;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0b8693;
  color: #fff;
}

.glosario {
  text-align: center;
  margin-top: 20px;
}

.tabla-container {
  display: flex;
  justify-content: center; /* Alinea el contenido al centro horizontalmente */
}

.glosario-table {
  width: 40%;
  margin: 10px;
  border-collapse: collapse;
  font-size: 14px; /* Ajusta el tamaño del texto */
}

.glosario-table th, .glosario-table td {
  border: 1px solid #ddd;
  padding: 6px; /* Reduce el espacio interno */
  text-align: center;
}

.glosario-table th {
  background-color: #0b8693;
}

.imagenes {
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

a {
  text-decoration: none;
  font-weight: bold;
}

.titulo{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.accordion-btn {
  background-color: #005760;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  text-align: center;
  border: 3px solid #333;
  outline: none;
  transition: background-color 0.3s ease;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.accordion-btn:hover {
  background-color: #003335;
}

.accordion-btn:after {
  content: '+';
  float: right;
  margin-left: 5px;
  font-weight: bold;
}

.accordion-btn.active:after {
  content: '-';
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  text-align: center;
}

.accordion-content p {
  padding: 12px;
  margin: 0;
  font-size: 14px;
  color: #555;
  background-color: #f7f7f7;
  text-align: justify;
}

.collectionViewItems {
  /* Agrega aquí los estilos deseados para los elementos de la tabla */
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  /* Otros estilos... */
}

/* Estilos para el contenedor principal */
.grafico-central {
  text-align: center; /* Centra los elementos hijos horizontalmente */
}

/* Estilos para los gráficos dentro de grafico-central */
.graficos_FA img {
  width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor padre */
  height: auto; /* Mantiene la proporción original de la imagen */
  max-width: 650px; /* Establece un ancho máximo para la imagen */
  display: block; /* Elimina el espacio extra debajo de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}