<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mi sitio web - Sobre la App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="accordion">
          <button class="accordion-btn">¿Quiénes somos?</button>
          <div class="accordion-content">
            <p style="font-size: 30px; color: black;">MEMEI.</p>
            <p style="font-size: 20px; color: black;">"Como estudiantes comprometidos, nuestro objetivo principal es desarrollar un prototipo funcional que pueda explorar y comprender las emociones expresadas en las redes sociales y otros medios digitales. Creemos en el potencial de la tecnología para comprender y mejorar nuestra interacción emocional en línea. </p>
            <p style="font-size: 20px; color: black;"> Nuestra investigación se enfoca en cómo las personas se expresan y se relacionan emocionalmente a través de las plataformas digitales, y cómo estas interacciones afectan a nivel individual y colectivo. Utilizamos métodos de análisis de datos, para extraer información emocional relevante de los textos y mensajes en línea.
              Nuestro enfoque en la investigación aplicada nos impulsa a generar conocimiento y herramientas prácticas que puedan ser utilizadas por diversos actores, desde individuos hasta empresas y organizaciones, para comprender mejor las emociones en el entorno digital y tomar decisiones más informadas.</p>  
            <p style="font-size: 20px; color: black;">  Como estudiantes de la UTEM, contamos con una formación sólida en ciencias de la computación, análisis de datos y psicología, lo que nos brinda una base multidisciplinaria para abordar este desafío. Estamos comprometidos con el avance científico y tecnológico en el campo de la inteligencia emocional.
              Nuestra misión es impulsar el desarrollo de soluciones innovadoras que promuevan una interacción en línea más consciente y empática. Trabajamos para construir un futuro digital donde la inteligencia emocional y el análisis de sentimientos sean considerados fundamentales para fomentar relaciones saludables y un bienestar emocional en el entorno digital."</p>
            <hr />
          </div>

          <button class="accordion-btn">Integrantes</button>
          <div class="accordion-content">
            <tbody class="collectionViewItems">
              <td class="center">
                <div><img src="https://utem.instructure.com/images/messages/avatar-50.png" alt="ALVARO AGUIRRE ULLOA" aria-hidden="true"></span></a></div>
              </td>
              <td>
                <div style="font-size: 20px; font-weight: bold;">ALVARO AGUIRRE ULLOA
                </div>
              </td>
              
              <td >
                <div class="section">GESTION DE PROYECTOS INFORMATICOS</div>
              </td>
            
              <td>
                <div>Estudiante</div>
              </td>
      
              <td class="center">
                <div><img src="https://utem.instructure.com/images/messages/avatar-50.png" alt="FRANCO ALFARO LEÓN" aria-hidden="true"></span></a></div>
              </td>
              <td>
                <div style="font-size: 20px; font-weight: bold;">FRANCO ALFARO LEÓN
                </div>
              </td>
              
              <td >
                <div class="section">GESTION DE PROYECTOS INFORMATICOS</div>
              </td>
            
              <td>
                <div>Estudiante</div>
              </td>

              <td class="center">
                <div><img src="https://utem.instructure.com/images/messages/avatar-50.png" alt="HENRY CARREÑO HUANQUILEN" aria-hidden="true"></span></a></div>
              </td>
              <td>
                <div style="font-size: 20px; font-weight: bold;">HENRY CARREÑO HUANQUILEN
                </div>
              </td>
              
              <td >
                <div class="section">GESTION DE PROYECTOS INFORMATICOS</div>
              </td>
            
              <td>
                <div>Estudiante</div>
              </td>

              <td class="center">
                <div><img src="https://utem.instructure.com/images/messages/avatar-50.png" alt="TOMAS DAHM LOPEZ" aria-hidden="true"></span></a></div>
              </td>
              <td>
                <div style="font-size: 20px; font-weight: bold;">TOMAS DAHM LOPEZ
                </div>
              </td>
              
              <td >
                <div class="section">GESTION DE PROYECTOS INFORMATICOS</div>
              </td>
            
              <td>
                <div>Estudiante</div>
              </td>

              <td class="center">
                <div><img src="https://utem.instructure.com/images/messages/avatar-50.png" alt="NICOLAS GARAY MORALES" aria-hidden="true"></span></a></div>
              </td>
              <td>
                <div style="font-size: 20px; font-weight: bold;">NICOLAS GARAY MORALES
                </div>
              </td>
              
              <td >
                <div class="section">GESTION DE PROYECTOS INFORMATICOS</div>
              </td>
            
              <td>
                <div>Estudiante</div>
              </td>

              <td class="center">
                <div><img src="https://utem.instructure.com/images/messages/avatar-50.png" alt="LEONARDO BRAVO FARIAS" aria-hidden="true"></span></a></div>
              </td>
              <td>
                <div style="font-size: 20px; font-weight: bold;">LEONARDO BRAVO FARIAS
                </div>
              </td>
              
              <td >
                <div class="section">GESTION DE PROYECTOS INFORMATICOS</div>
              </td>
            
              <td>
                <div>Profesor</div>
              </td>
                
              </td></tr></tbody>
          </div>
        </div>
      </div>
    </div>

    <script>
      const accordionBtns = document.querySelectorAll('.accordion-btn');

      accordionBtns.forEach(btn => {
        btn.addEventListener('click', () => {
          btn.classList.toggle('active');
          const accordionContent = btn.nextElementSibling;
          if (accordionContent.style.maxHeight) {
            accordionContent.style.maxHeight = null;
          } else {
            accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
          }
        });
      });
    </script>
  </body>
</html>

