<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mi sitio web - Sobre la App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="/juancarlosbodoque"><img src="https://images.vexels.com/media/users/3/261545/isolated/preview/0c1e0c11a29ed825bb3410ed9a93655c-estrella-plana-amarilla-brillante.png" alt="reddit Icon" width="22" height="22"> GPI PIA II 2023</a></li>
          <li><a href="/about"><img src="https://img.freepik.com/iconos-gratis/personas_318-585520.jpg" alt="reddit Icon" width="22" height="22"> Sobre nosotros</a></li>
        </ul>
      </nav>

      <div class="content">
        <h1>Sobre el desarrollo de la aplicación</h1>
        <div class="accordion">
          <button class="accordion-btn">¿Quiénes somos?</button>
          <div class="accordion-content">
            <p>"Somos un grupo de estudiantes de la Universidad Tecnológica Metropolitana (UTEM) que nos hemos unido con el propósito de llevar a cabo una investigación aplicada. Nuestro enfoque se centra en el campo del análisis de sentimientos y la inteligencia emocional en redes.</p>
            
               <p>Como estudiantes comprometidos, nuestro objetivo principal es desarrollar un prototipo funcional que pueda explorar y comprender las emociones expresadas en las redes sociales y otros medios digitales. Creemos en el potencial de la tecnología para comprender y mejorar nuestra interacción emocional en línea.</p>
                
                <p>Nuestra investigación se enfoca en cómo las personas se expresan y se relacionan emocionalmente a través de las plataformas digitales, y cómo estas interacciones afectan a nivel individual y colectivo. Utilizamos técnicas avanzadas de procesamiento de lenguaje natural y aprendizaje automático, combinadas con métodos de análisis de datos, para extraer información emocional relevante de los textos y mensajes en línea.</p>
                
                <p>Nuestro enfoque en la investigación aplicada nos impulsa a generar conocimiento y herramientas prácticas que puedan ser utilizadas por diversos actores, desde individuos hasta empresas y organizaciones, para comprender mejor las emociones en el entorno digital y tomar decisiones más informadas.</p>
                
                <p>Como estudiantes de la UTEM, contamos con una formación sólida en ciencias de la computación, análisis de datos y psicología, lo que nos brinda una base multidisciplinaria para abordar este desafío. Estamos comprometidos con el avance científico y tecnológico en el campo de la inteligencia emocional y emocionados de poner nuestras habilidades y conocimientos al servicio de esta importante investigación.</p>
                
                <p>Nuestra misión es impulsar el desarrollo de soluciones innovadoras que promuevan una interacción en línea más consciente y empática. Trabajamos para construir un futuro digital donde la inteligencia emocional y el análisis de sentimientos sean considerados fundamentales para fomentar relaciones saludables y un bienestar emocional en el entorno digital."</p>
                <hr />
          </div>

          <button class="accordion-btn">Sobre la aplicación</button>
          <div class="accordion-content">
            <p>La aplicación Prototipo Funcional es una herramienta que permite analizar y mostrar comentarios de diferentes redes sociales, como Twitter, Facebook, Reddit, YouTube y Steam. Utilizando técnicas de procesamiento de lenguaje natural, la aplicación clasifica los comentarios en categorías de sentimiento: positivo, neutral o negativo.</p>
            <p>Nuestra misión es proporcionar a los usuarios una forma rápida y fácil de obtener información sobre el sentimiento de los comentarios en las redes sociales. Esto puede ser útil para comprender la opinión pública, realizar análisis de mercado o simplemente explorar los comentarios de diferentes plataformas en un solo lugar.</p>
            <p>¡Explora los diferentes enlaces en la barra de navegación para ver los comentarios de cada red social y descubre qué opinan las personas en cada plataforma!</p>
        </div>
          </div>

          <button class="accordion-btn">Integrantes</button>
          <div class="accordion-content">
            <tbody class="collectionViewItems">
              <td class="center">
                <div><img src="https://utem.instructure.com/images/messages/avatar-50.png" alt="AGUIRRE CORNEJO, PATRICIO ALEJANDRO" aria-hidden="true"></span></a></div>
              </td>
              <td>
                <a>AGUIRRE CORNEJO, PATRICIO ALEJANDRO
                </a>
              </td>
              
              <td >
                <div class="section">INFB8103-412-TEORIA-2023-1: GESTION DE PROYECTOS INFORMATICOS</div>
              </td>
            
              <td>
                <div>Estudiante</div>
              </td>
                
              </td></tr></tbody>
          </div>
        </div>
      </div>
    </div>

    <script>
      const accordionBtns = document.querySelectorAll('.accordion-btn');

      accordionBtns.forEach(btn => {
        btn.addEventListener('click', () => {
          btn.classList.toggle('active');
          const accordionContent = btn.nextElementSibling;
          if (accordionContent.style.maxHeight) {
            accordionContent.style.maxHeight = null;
          } else {
            accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
          }
        });
      });
    </script>
  </body>
</html>
