<!DOCTYPE html>
<html>
    <head>
        <title>Aplicación Flask</title>
        <!-- Agrega los estilos de Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        {{ bootstrap.load_css() }}
    </head>
    <body>
        <nav class="nav flex-column">
            <li><a href="/index"><img src="https://images.vexels.com/media/users/3/261545/isolated/preview/0c1e0c11a29ed825bb3410ed9a93655c-estrella-plana-amarilla-brillante.png" alt="reddit Icon" width="22" height="22"> GPI PIA II 2023</a></li>
            <li><a href="/about"><img src="https://img.freepik.com/iconos-gratis/personas_318-585520.jpg" alt="reddit Icon" width="22" height="22"> Sobre nosotros</a></li>
            <li><a href="#FE">Factores Emocionales</a></li>
            <li><a href="#CE">Capital Emocional</a></li>
            <li><a href="#CR">Capital Relacional</a></li>
        </nav>
        <div class="body" style="width: 18rem;">
          <h1>Proyecto PIA II 2023</h1>
            <!-- Acordeón Capital Emocional -->
            <h1 id="FE">Factores Emocionales</h1>
                <div class="glosario">
                    <h2>Glosario</h2>
                    <!-- Contenedor para las dos tablas en paralelo -->
                    <div class="tabla-container">
                        <!-- Primera tabla -->
                        <table class="glosario-table">
                            <tr>
                                <th>Números</th>
                                <th>Palabras</th>
                            </tr>
                            {% for numero, palabra in glosario_general.items() if numero|int <= 9%}
                                <tr>
                                    <td>{{ numero }}</td>
                                    <td>{{ palabra }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                        <!-- Segunda tabla -->
                        <table class="glosario-table">
                            <tr>
                                <th>Números</th>
                                <th>Palabras</th>
                            </tr>
                            {% for numero, palabra in glosario_general.items() if numero|int > 9 %}
                                <tr>
                                    <td>{{ numero }}</td>
                                    <td>{{ palabra }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <button class = "btn" onclick="toggleData()">Cambiar Datos</button>

                    <!-- <div id="top_10_matriz_general">
                        {% for table in matriz_general %}
                                        {{ table|safe }}
                                        {% endfor %}
                    </div>

                    <div id="matriz_general" style="display:none;">
                        {% for table in top_10_matriz_general %}
                                        {{ table|safe }}
                                        {% endfor %}
                    </div> -->
                    <div id="matriz_general" class="search-table-outter wrapper">
                        {% for table in matriz_general %}
                                        {{ table|safe }}
                                        {% endfor %}
                    </div>

                    <div id="top_10_matriz_general" style="display:none;">
                        {% for table in df_threads %}
                                        {{ table|safe }}
                                        {% endfor %}
                    </div>
                </div>
                <img src="{{ grafico_matriz_general }}" alt="Gráfico">
                <img src="{{ grafico_puntaje_matriz_general }}" alt="Gráfico">
            <!-- Acordeón Capital Emocional -->
            <h1 id="CE">Capital Emocional</h1>
               <!-- Contenido del acordeón Capital Emocional -->

                <!-- Acordeón Auto Reconocimiento -->
                <button class="sub-accordion-btn">Auto Reconocimiento</button>
                <div class="sub-accordion-content">                    
                    <!-- Contenido del acordeón Auto Reconocimiento -->
                    <!-- Glosario -->
                    <div class="glosario">
                      <h2>Glosario</h2>
                      
                      <!-- Contenedor para las dos tablas en paralelo -->
                      <div class="tabla-container">
                          <!-- Primera tabla -->
                          <table class="glosario-table">
                              <tr>
                                  <th>Números</th>
                                  <th>Palabras</th>
                              </tr>
                              {% for numero, palabra in glosario_auto_reconocimiento.items() if numero|int <= 2%}
                                  <tr>
                                      <td>{{ numero }}</td>
                                      <td>{{ palabra }}</td>
                                  </tr>
                              {% endfor %}
                          </table>

                          <!-- Segunda tabla -->
                          <table class="glosario-table">
                              <tr>
                                  <th>Números</th>
                                  <th>Palabras</th>
                              </tr>
                              {% for numero, palabra in glosario_auto_reconocimiento.items() if numero|int > 2 %}
                                  <tr>
                                      <td>{{ numero }}</td>
                                      <td>{{ palabra }}</td>
                                  </tr>
                              {% endfor %}
                          </table>
                      </div>
                    </div>
                            {% for table in auto_reconocimiento %}
                              {{ table|safe }}
                            {% endfor %}

                            <img src="{{ grafico_auto_reconocimiento }}" alt="Gráfico">
                            <img src="{{ grafico_puntaje_auto_reconocimiento }}" alt="Gráfico">
                    </div>

                    <!-- Acordeón Auto Regulación -->
                    <button class="sub-accordion-btn">Auto Regulación</button>
                    <div class="sub-accordion-content">
                      <!-- Contenido del acordeón Auto Regulación -->
                      <!-- Glosario -->
                      <div class="glosario">
                        <h2>Glosario</h2>
                        
                        <!-- Contenedor para las dos tablas en paralelo -->
                        <div class="tabla-container">
                            <!-- Primera tabla -->
                            <table class="glosario-table">
                                <tr>
                                    <th>Números</th>
                                    <th>Palabras</th>
                                </tr>
                                {% for numero, palabra in glosario_auto_regulacion.items() if numero|int <= 5 %}
                                    <tr>
                                        <td>{{ numero }}</td>
                                        <td>{{ palabra }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                            <!-- Segunda tabla -->
                            <table class="glosario-table">
                                <tr>
                                    <th>Números</th>
                                    <th>Palabras</th>
                                </tr>
                                {% for numero, palabra in glosario_auto_regulacion.items() if numero|int > 5 %}
                                    <tr>
                                        <td>{{ numero }}</td>
                                        <td>{{ palabra }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                      </div>

                    {% for table in auto_regulacion %}
                      {{ table|safe }}
                    {% endfor %}

                    <img src="{{ grafico_auto_regulacion }}" alt="Gráfico">
                    <img src="{{ grafico_puntaje_auto_regulacion }}" alt="Gráfico">
               </div>
                <div>

                <!-- Glosario -->
                <div class="glosario">
                  <h2>Glosario</h2>
                  
                  <!-- Contenedor para las dos tablas en paralelo -->
                  <div class="tabla-container">
                      <!-- Primera tabla -->
                      <table class="glosario-table">
                          <tr>
                              <th>Números</th>
                              <th>Palabras</th>
                          </tr>
                          {% for numero, palabra in glosario_capital_emocional.items() if numero|int <= 4 %}
                              <tr>
                                  <td>{{ numero }}</td>
                                  <td>{{ palabra }}</td>
                              </tr>
                          {% endfor %}
                      </table>

                      <!-- Segunda tabla -->
                      <table class="glosario-table">
                          <tr>
                              <th>Números</th>
                              <th>Palabras</th>
                          </tr>
                          {% for numero, palabra in glosario_capital_emocional.items() if numero|int > 4 %}
                              <tr>
                                  <td>{{ numero }}</td>
                                  <td>{{ palabra }}</td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                </div>

                {% for table in capital_emocional %}
                  {{ table|safe }}
                {% endfor %}

                <img src="{{ grafico_capital_emocional }}" alt="Gráfico">
                <img src="{{ grafico_puntaje_capital_emocional }}" alt="Gráfico">
                </div>
               <!-- Fin del contenido del acordeón Capital Emocional -->

           <!-- Acordeón Capital Social -->
           <h1 id="CR">Capital Relacional</h1>
                <!-- Contenido del acordeón Capital Emocional -->

               <!-- Acordeón Auto Reconocimiento -->
               <button class="sub-accordion-btn">Reconocimiento Social</button>
               <div class="sub-accordion-content">
                   <!-- Contenido del acordeón Auto Reconocimiento -->
                   <!-- Glosario -->
                   <div class="glosario">
                    <h2>Glosario</h2>
                    
                    <!-- Contenedor para las dos tablas en paralelo -->
                    <div class="tabla-container">
                        <!-- Primera tabla -->
                        <table class="glosario-table">
                            <tr>
                                <th>Números</th>
                                <th>Palabras</th>
                            </tr>
                            {% for numero, palabra in glosario_reconocimiento.items() if numero|int <= 9 %}
                                <tr>
                                    <td>{{ numero }}</td>
                                    <td>{{ palabra }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                        <!-- Segunda tabla -->
                        <table class="glosario-table">
                            <tr>
                                <th>Números</th>
                                <th>Palabras</th>
                            </tr>
                            {% for numero, palabra in glosario_reconocimiento.items() if numero|int > 9 %}
                                <tr>
                                    <td>{{ numero }}</td>
                                    <td>{{ palabra }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                  </div>
                   
                      {% for table in reconocimiento %}
                        {{ table|safe }}
                      {% endfor %}

                      <img src="{{ grafico_reconocimiento }}" alt="Gráfico">
                      <img src="{{ grafico_puntaje_reconocimiento }}" alt="Gráfico">
               </div>

               <!-- Acordeón Auto Regulación -->
               <button class="sub-accordion-btn">Regulación Social</button>
               <div class="sub-accordion-content">
                   <!-- Contenido del acordeón Auto Regulación -->
                   <!-- Glosario -->
                   <div class="glosario">
                    <h2>Glosario</h2>
                    
                    <!-- Contenedor para las dos tablas en paralelo -->
                    <div class="tabla-container">
                        <!-- Primera tabla -->
                        <table class="glosario-table">
                            <tr>
                                <th>Números</th>
                                <th>Palabras</th>
                            </tr>
                            {% for numero, palabra in glosario_regulacion_social.items() if numero|int <= 14 %}
                                <tr>
                                    <td>{{ numero }}</td>
                                    <td>{{ palabra }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                        <!-- Segunda tabla -->
                        <table class="glosario-table">
                            <tr>
                                <th>Números</th>
                                <th>Palabras</th>
                            </tr>
                            {% for numero, palabra in glosario_regulacion_social.items() if numero|int > 14 %}
                                <tr>
                                    <td>{{ numero }}</td>
                                    <td>{{ palabra }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                  </div>

                    {% for table in regulacion_social %}
                      {{ table|safe }}
                    {% endfor %}

                    <img src="{{ grafico_regulacion_social }}" alt="Gráfico">
                    <img src="{{ grafico_puntaje_regulacion_social }}" alt="Gráfico">
               </div>
               <!-- Glosario -->
               <div class="glosario">
                <h2>Glosario</h2>
                
                <!-- Contenedor para las dos tablas en paralelo -->
                <div class="tabla-container">
                    <!-- Primera tabla -->
                    <table class="glosario-table">
                        <tr>
                            <th>Números</th>
                            <th>Palabras</th>
                        </tr>
                        {% for numero, palabra in glosario_capital_social.items() if numero|int <= 13 %}
                            <tr>
                                <td>{{ numero }}</td>
                                <td>{{ palabra }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <!-- Segunda tabla -->
                    <table class="glosario-table">
                        <tr>
                            <th>Números</th>
                            <th>Palabras</th>
                        </tr>
                        {% for numero, palabra in glosario_capital_social.items() if numero|int > 13 %}
                            <tr>
                                <td>{{ numero }}</td>
                                <td>{{ palabra }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
              </div>

                {% for table in capital_social %}
                  {{ table|safe }}
                {% endfor %}

                <img src="{{ grafico_capital_social }}" alt="Gráfico">
                <img src="{{ grafico_puntaje_capital_social }}" alt="Gráfico">

               <!-- Fin del contenido del acordeón Capital Emocional -->
           </div>
       </div>

   <script>
        const accordionBtns = document.querySelectorAll('.accordion-btn');
        const subAccordionBtns = document.querySelectorAll('.sub-accordion-btn');

        accordionBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                btn.classList.toggle('active');
                const accordionContent = btn.nextElementSibling;
                if (accordionContent.style.maxHeight) {
                    accordionContent.style.maxHeight = null;
                } else {
                    accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
                }
            });
        });

        subAccordionBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                btn.classList.toggle('active');
                const subAccordionContent = btn.nextElementSibling;
                if (subAccordionContent.style.maxHeight) {
                    subAccordionContent.style.maxHeight = null;
                } else {
                    subAccordionContent.style.maxHeight = subAccordionContent.scrollHeight + 'px';
                }
            });
        });

       function toggleData() {
            var top10 = document.getElementById('top_10_matriz_general');
            var general = document.getElementById('matriz_general');

            if (top10.style.display === 'none' || top10.style.display === '') {
                top10.style.display = 'block';
                general.style.display = 'none';
            } else {
                top10.style.display = 'none';
                general.style.display = 'block';
                general.style.overflow = 'auto';
            }
        }
   </script>
   {{ bootstrap.load_js() }}
</body>
</html>